body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container{
    display:flex;
    background-color:gray;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    margin: 20px;
}

.elemento-quadrado{
    background-color: white;
    box-sizing: border-box;
    height: 20px;
    border: 1px black solid;
    flex-shrink: 0;
}

